{{#with housing}}
<section id="deatils-page">
    <div class="wrapper">
        <div class="product-img">
            <img src="{{homeImage}}">
        </div>
        <div class="product-info">
            <div class="product-text">
                <div class="product-text">
                    <h1>Name:{{name}}</h1>
                    <h2>Type: {{type}}</h2>
                    <h4>Year: {{year}}</h4>
                    <h4>City: {{city}}</h4>
                    <p>Description: {{description}}</p>

                    <!-- if there are already tenants of the housing, separate their names with a comma and a space ", "  -->
                    {{#if rented}}
                    <p>People rented this housing: {{rented}}</p>
                    {{else}}
                    <!-- If not display: -->
                    <p>People rented this housing: There are no tenants yet.</p>
                    {{/if}}
                </div>
            </div>

            {{#if hasUser}}
            <div class="product-btn">
                {{#if isCreator}}
                    <a href="/edit/{{_id}}" class="edit">Edit</a>
                    <a href="/delete/{{_id}}" class="remove">Delete</a>
                {{else}}
                    {{#if hasJoined}}
                        <p class="alRentHome">You have already rent this home</p>
                    {{else}}
                        {{#if isFull}}
                            <!-- logged in user with no available pieces-->
                            <p class="no-housing">No Housing Available!</p>
                        {{else}}
                            <!-- logged in user with available pieces-->
                            <a href="/rent/{{_id}}" class="rentHome">Rent a home, available {{freeSpace}} housing</a>
                        {{/if}}
                    {{/if}}                
                {{/if}}
            </div>
            {{/if}}
        </div>
    </div>
</section>
{{/with}}
